.nav-wrapper{
	background: #3D5A80;
	color: white;
}
a.black-text{
	color: white!important;
}
a.brand-logo{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
.mainview td {
	border-right: 1px solid #ccc;
	min-width: 155px;
	height: 119px;
}

.mainview td div div{
	width: 100%;
    overflow-y: auto;
    max-height: 5em;
}

.mainview{
	table-layout: fixed;
	border-collapse: collapse;
}

.filter-option{
	position: sticky;
    overflow: hidden;
    top: 0;
    background: #ffffffd9;
    padding: .1em;
}

.filter-option select {
	width: 200px;
	display: inline-block;
	margin-left: 1em;
}

.filter-option .right-hand{
	float:right;
}

.filter-option .left-hand{
	float: left;
}
.brand-logo {
	margin-left: 20px;
}

.brand-logo:hover {
	border-bottom: 3px solid #1e88e5;
}

#logo {
	height: 24px;
	margin-right: 10px;
}

.loginButtons {
	width: 100%;
}

#google {
	background-color: #ea4335;
}

#linkedin {
	background-color: #0077b5;
}

#loginForm {
	margin-top: 80px;
}

#noAccount {
	margin-top: 20px;
}

#newEmployee {
	cursor: pointer;
}

#error {
	font-size: 175px;
}

/*#announcementBuilder {
	padding: 10px;
}*/

.circle-small {
	height: 30px;
	margin-left: 15px;
	margin-bottom: -10px;
}

/* announcementview button */
#accept-reject-button button {
	display: inline-block;
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

#accept-reject-button:hover span::after {
	padding-right: 25px;
}

.accept-button {
	color: #00ff00;
}

.accept-button:hover {
	background: #00ff00;
	color: #ffffff;
}

.accept-button:hover span::after {
	content: '\2713';
	position: absolute;
}

.reject-button {
	color: #ff0000;
}

.reject-button:hover {
	background: #ff0000;
	color: #ffffff;
}

.reject-button:hover span::after {
	content: '\292B';
	position: absolute;
}